body {
	@include flexbox;
	@include flex-dir( column );
	#Header {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: $slot-height;
		padding: $gutter-v $gutter-h;
		background: $Color-Orange none;
		@include clearfixed;
		&.Home,
		&.Create {
			@include flex( 1 );
			background: transparent;
		}
		h1 {
			display: inline-block;
			width: 210px;
			height: $slot-height;
			background: transparent url(../img/logo.png) no-repeat 0 0;
			background-size: contain;
			span {
				display: none;			
			}
		}
	}
	#Wrapper {
		@include flex( 1 );
		@include flexbox;
		@include flex-dir( column );
		@include clearfixed;
		&.Home,
		&.Create {
			@include clearfixed;
			header {
				padding-bottom: $gutter-v;
				min-height: 160px;
				h1 {
					width: 210px;
					height: 60px;
					margin: 0 auto;
					background: transparent url(../img/logo.png) no-repeat 50% 50%;
					span {
						display: none;			
					}
				}
				h2 {
					width: 120px;
					height: 50px;
					margin: 0 auto;
					background: transparent url(../img/signs.png) no-repeat 50% 50%;
					background-size: contain;
					span {
						display: none;			
					}
				}
			}
			.Content {
				margin: 0 auto;
				max-width: $break-mobile-portrait;
				p {
					text-align: center;
				}
				.login-fb {
					display: block;
					margin: $slot-height auto;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					width: w( 3 );
					height: h( 2 );
					color: #fff;
					font-weight: normal;
					text-decoration: none;
					background: $Color-Pink;
					font-family: $font-headers;
					@include adjust-font-size-to(24px);
					@include border-radius(10px);
					line-height: h( 2 );
					border: 1px solid darken($Color-Pink, 10% );
					text-align: center;
				}
			}
		}
	}
	#Footer {
		@include flex( 1 );
		@include flexbox;
		min-height: $slot-height;
		background: rgba( 0, 0, 0, .2 );
		&.Home,
		&.Create {
			@include flex( 1 );
			background: transparent;
			.Content {
				width: w(4);
				border-top: 1px dotted #fff;
				text-align: center;
				@include adjust-font-size-to(12px);
				color: #fff;
				margin: 10px auto;
				padding: 10px $gutter-h;
			}
		}
	}
}