body {
	@include flexbox;
	@include flex-dir( column );
	#Header {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 2 * $slot-height;
		padding: 5px $gutter-h;
		background: $Color-Orange none;
		@include clearfixed;
		&.Home,
		&.Create {
			background: transparent;
		}
		h1 {
			display: inline-block;
			width: 210px;
			height: 2 * $slot-height - 10px;
			background: transparent url(../img/logo.png) no-repeat 0 0;
			background-size: contain;
			span {
				display: none;			
			}
		}
		&.Map {
			@include flexbox;
			@include flex-dir( row );
			> a {
				@include flex( 1 );
			}
			.fb-share-button {
				text-align: right;
				@include flex( 1 );
			}
		}
	}
	#Wrapper {
		@include flex( 1 );
		@include flexbox;
		@include flex-dir( column );
		@include align-content( center );
		@include justify-content( center );
		@include clearfixed;
		&.Home,
		&.Create {
			@include clearfixed;
			header {
				padding-bottom: $gutter-v;
				min-height: 160px;
				h1 {
					width: 210px;
					height: 60px;
					margin: 0 auto;
					background: transparent url(../img/logo.png) no-repeat 50% 50%;
					span {
						display: none;			
					}
				}
				h2 {
					width: 120px;
					height: 50px;
					margin: 0 auto;
					background: transparent url(../img/signs.png) no-repeat 50% 50%;
					background-size: contain;
					span {
						display: none;			
					}
				}
			}
			.Content {
				margin: 0 auto;
				max-width: $break-mobile-portrait;
				p {
					text-align: center;
				}
				.login-fb {
					@include buttonize;					
					margin: $slot-height auto;
				}
			}
		}
	}
	#Footer {
		@include flexbox;
		min-height: $slot-height;
		background: rgba( 0, 0, 0, .2 );
		&.Home,
		&.Create {
			background: transparent;
			.Content {
				width: w(4);
				border-top: 1px dotted #fff;
				text-align: center;
				@include adjust-font-size-to(12px);
				color: #fff;
				margin: 10px auto;
				padding: 10px $gutter-h;
			}
		}
	}
}
html {
	body {
	}
	&#Home,
	&#Create {
		body {
		    @media screen 
		    and (max-device-width: $break-tablet-landscape - 1 + 4 * $side-padding ) 
		    and (orientation:portrait) {
				min-height: 100vh;
			}
		    @media screen 
		    and (max-device-width: $break-tablet-landscape - 1 + 4 * $side-padding ) 
		    and (orientation:landscape) {
				min-height: 100vw;
			}
		    @media screen 
		    and (min-device-width: $break-tablet-landscape + 4 * $side-padding ) {
				min-height: 100vh;
			}
		}
	}
	&#Map {
		body {
		    @media screen 
		    and (max-device-width: $break-tablet-landscape - 1 + 4 * $side-padding ) 
		    and (orientation:portrait) {
				height: 100vh;
			}
		    @media screen 
		    and (max-device-width: $break-tablet-landscape - 1 + 4 * $side-padding ) 
		    and (orientation:landscape) {
				height: 100vw;
			}
		    @media screen 
		    and (min-device-width: $break-tablet-landscape + 4 * $side-padding ) {
				height: 100vh;
			}
		}
	}
}