@import url(http://fonts.googleapis.com/css?family=Oswald:700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&subset=latin,latin-ext);
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typo settings */
/* line 61, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* Colors */
/* Grid Sizes */
/* Breakpoints */
/* line 1, ../../src/scss/partials/_base.scss */
html {
  background-color: #f4b244;
  height: 100%;
}
/* line 4, ../../src/scss/partials/_base.scss */
html body {
  background-color: #f4b244;
  min-height: 100%;
  background: white url(../img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}

/* line 12, ../../src/scss/partials/_base.scss */
.login-fb {
  border-radius: 5px;
  background: #ccc;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
/* line 18, ../../src/scss/partials/_base.scss */
.login-fb:hover {
  background: #666;
}

/* line 23, ../../src/scss/partials/_base.scss */
a {
  display: inline-block;
}

/* line 1, ../../src/scss/partials/_layout.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 4, ../../src/scss/partials/_layout.scss */
body #Header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 6, ../../src/scss/partials/_layout.scss */
body #Header.Home {
  min-height: 150px;
}
/* line 9, ../../src/scss/partials/_layout.scss */
body #Header h1 {
  width: 210px;
  height: 60px;
  margin: 0 auto;
  background: transparent url(../img/logo.png) no-repeat 50% 50%;
}
/* line 14, ../../src/scss/partials/_layout.scss */
body #Header h1 span {
  display: none;
}
/* line 18, ../../src/scss/partials/_layout.scss */
body #Header h2 {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  background: transparent url(../img/signs.png) no-repeat 50% 50%;
  background-size: contain;
}
/* line 24, ../../src/scss/partials/_layout.scss */
body #Header h2 span {
  display: none;
}
/* line 29, ../../src/scss/partials/_layout.scss */
body #Wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 35, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home {
  min-height: 300px;
}
/* line 37, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home h1 {
  width: 210px;
  height: 60px;
  margin: 0 auto;
  background: transparent url(../img/logo.png) no-repeat 50% 50%;
}
/* line 42, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home h1 span {
  display: none;
}
/* line 46, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home h2 {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  background: transparent url(../img/signs.png) no-repeat 50% 50%;
  background-size: contain;
}
/* line 52, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home h2 span {
  display: none;
}
/* line 56, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home .Content {
  margin: 0 auto;
  max-width: 300px;
}
/* line 62, ../../src/scss/partials/_layout.scss */
body #Footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
