@import url(http://fonts.googleapis.com/css?family=Simonetta:900|Varela+Round);
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typo settings */
/* line 61, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.71429em;
}

/* Colors */
/* Grid Sizes */
/* Breakpoints */
/* line 1, ../../src/scss/partials/_typo.scss */
p {
  margin-bottom: .5em;
}

/* line 1, ../../src/scss/partials/_base.scss */
html {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  background-color: #f4b244;
  height: 100%;
}
/* line 6, ../../src/scss/partials/_base.scss */
html body {
  background-color: #f4b244;
  min-height: 100%;
  background: white url(../img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-rendering: optimizeLegibility;
}

/* line 1, ../../src/scss/partials/_layout.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 4, ../../src/scss/partials/_layout.scss */
body #Header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 48px;
  padding: 5px 20px;
  background: #f4b244 none;
}
/* line 10, ../../src/scss/_mixins.scss */
body #Header:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
/* line 12, ../../src/scss/partials/_layout.scss */
body #Header.Home, body #Header.Create {
  background: transparent;
}
/* line 15, ../../src/scss/partials/_layout.scss */
body #Header h1 {
  display: inline-block;
  width: 210px;
  height: 38px;
  background: transparent url(../img/logo.png) no-repeat 0 0;
  background-size: contain;
}
/* line 21, ../../src/scss/partials/_layout.scss */
body #Header h1 span {
  display: none;
}
/* line 25, ../../src/scss/partials/_layout.scss */
body #Header.Map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 28, ../../src/scss/partials/_layout.scss */
body #Header.Map > a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 31, ../../src/scss/partials/_layout.scss */
body #Header.Map .fb-share-button {
  text-align: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 37, ../../src/scss/partials/_layout.scss */
body #Wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
/* line 10, ../../src/scss/_mixins.scss */
body #Wrapper:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
/* line 10, ../../src/scss/_mixins.scss */
body #Wrapper.Home:after, body #Wrapper.Create:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
/* line 47, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home header, body #Wrapper.Create header {
  padding-bottom: 0px;
  min-height: 160px;
}
/* line 50, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home header h1, body #Wrapper.Create header h1 {
  width: 210px;
  height: 60px;
  margin: 0 auto;
  background: transparent url(../img/logo.png) no-repeat 50% 50%;
}
/* line 55, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home header h1 span, body #Wrapper.Create header h1 span {
  display: none;
}
/* line 59, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home header h2, body #Wrapper.Create header h2 {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  background: transparent url(../img/signs.png) no-repeat 50% 50%;
  background-size: contain;
}
/* line 65, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home header h2 span, body #Wrapper.Create header h2 span {
  display: none;
}
/* line 70, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home .Content, body #Wrapper.Create .Content {
  margin: 0 auto;
  max-width: 300px;
}
/* line 73, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home .Content p, body #Wrapper.Create .Content p {
  text-align: center;
}
/* line 76, ../../src/scss/partials/_layout.scss */
body #Wrapper.Home .Content .login-fb, body #Wrapper.Create .Content .login-fb {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 300px;
  height: 48px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-size: 1.71429em;
  line-height: 2em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  line-height: 48px;
  border: 1px solid #e41164;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #f03880;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4679E', endColorstr='#FFE41164');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0Njc5ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0MTE2NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4679e), color-stop(100%, #e41164));
  background-image: -webkit-linear-gradient(top, #f4679e 0%, #e41164 100%);
  background-image: -moz-linear-gradient(top, #f4679e 0%, #e41164 100%);
  background-image: -o-linear-gradient(top, #f4679e 0%, #e41164 100%);
  background-image: linear-gradient(top, #f4679e 0%, #e41164 100%);
  margin: 24px auto;
}
/* line 83, ../../src/scss/partials/_layout.scss */
body #Footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 24px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 88, ../../src/scss/partials/_layout.scss */
body #Footer.Home, body #Footer.Create {
  background: transparent;
}
/* line 90, ../../src/scss/partials/_layout.scss */
body #Footer.Home .Content, body #Footer.Create .Content {
  width: 300px;
  border-top: 1px dotted #fff;
  text-align: center;
  font-size: 0.85714em;
  line-height: 2em;
  color: #fff;
  margin: 10px auto;
  padding: 10px 20px;
}

@media screen and (max-device-width: 979px) and (orientation: portrait) {
  /* line 107, ../../src/scss/partials/_layout.scss */
  html#Home body, html#Create body {
    min-height: 100vh;
  }
}
@media screen and (max-device-width: 979px) and (orientation: landscape) {
  /* line 107, ../../src/scss/partials/_layout.scss */
  html#Home body, html#Create body {
    min-height: 100vw;
  }
}
@media screen and (min-device-width: 980px) {
  /* line 107, ../../src/scss/partials/_layout.scss */
  html#Home body, html#Create body {
    min-height: 100vh;
  }
}
@media screen and (max-device-width: 979px) and (orientation: portrait) {
  /* line 125, ../../src/scss/partials/_layout.scss */
  html#Map body {
    height: 100vh;
  }
}
@media screen and (max-device-width: 979px) and (orientation: landscape) {
  /* line 125, ../../src/scss/partials/_layout.scss */
  html#Map body {
    height: 100vw;
  }
}
@media screen and (min-device-width: 980px) {
  /* line 125, ../../src/scss/partials/_layout.scss */
  html#Map body {
    height: 100vh;
  }
}

/* line 2, ../../src/scss/_create.scss */
.Create .Content {
  width: 300px;
}
/* line 5, ../../src/scss/_create.scss */
.Create .Content form#PickDates input {
  display: block;
  width: 300px;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #f19e14;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.28571em;
  line-height: 1.33333em;
  line-height: 48px;
  height: 48px;
  margin-bottom: 10px;
}
/* line 18, ../../src/scss/_create.scss */
.Create .Content form#PickDates button[type="submit"] {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 300px;
  height: 48px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-size: 1.71429em;
  line-height: 2em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  line-height: 48px;
  border: 1px solid #e41164;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #f03880;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4679E', endColorstr='#FFE41164');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0Njc5ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0MTE2NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4679e), color-stop(100%, #e41164));
  background-image: -webkit-linear-gradient(top, #f4679e 0%, #e41164 100%);
  background-image: -moz-linear-gradient(top, #f4679e 0%, #e41164 100%);
  background-image: -o-linear-gradient(top, #f4679e 0%, #e41164 100%);
  background-image: linear-gradient(top, #f4679e 0%, #e41164 100%);
  width: 300px;
}

/* line 2, ../../src/scss/_map.scss */
.map-page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 980px) and (min-device-width: 960px) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: 100%;
  }
  /* line 10, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    max-height: 100%;
  }
  /* line 14, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 300px;
    overflow: scroll;
    max-height: 100%;
  }
}
@media screen and (min-width: 740px) and (max-width: 979px) and (min-device-width: 960px) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  /* line 26, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    max-height: 100%;
  }
  /* line 30, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 300px;
    max-height: 100%;
    overflow: scroll;
  }
}
@media screen and (max-width: 739px) and (min-device-width: 960px) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
  }
  /* line 42, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  /* line 45, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: scroll;
  }
  /* line 10, ../../src/scss/_mixins.scss */
  .map-page .history-content:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 979px) and (orientation: landscape) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  /* line 56, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  /* line 59, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    max-width: 300px;
    overflow: scroll;
    max-height: 100vh;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 979px) and (orientation: portrait) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 71, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  /* line 74, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: scroll;
  }
}
@media screen and (max-device-width: 739px) and (orientation: landscape) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  /* line 83, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    max-height: 100vh;
  }
  /* line 87, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    max-width: 140px;
    overflow: scroll;
    max-height: 100vh;
  }
}
@media screen and (max-device-width: 739px) and (orientation: portrait) {
  /* line 2, ../../src/scss/_map.scss */
  .map-page {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 98, ../../src/scss/_map.scss */
  .map-page #display {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  /* line 101, ../../src/scss/_map.scss */
  .map-page .history-content {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: scroll;
  }
}
/* line 106, ../../src/scss/_map.scss */
.map-page .history-content {
  padding: 0px 20px;
  background-color: #fff;
  color: #333333;
  position: relative;
  z-index: 2;
}
/* line 113, ../../src/scss/_map.scss */
.map-page .history-content a {
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px 10px 0px;
}
/* line 118, ../../src/scss/_map.scss */
.map-page .history-content ul {
  margin: 0 -20px;
  padding: 0;
}
/* line 121, ../../src/scss/_map.scss */
.map-page .history-content ul li {
  display: block;
  padding: 5px 20px;
  list-style: none;
  text-align: left;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 128, ../../src/scss/_map.scss */
.map-page .history-content ul li:hover {
  background-color: #f2edd0;
}
/* line 131, ../../src/scss/_map.scss */
.map-page .history-content ul li figure {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 40px;
  margin: 0;
}
/* line 10, ../../src/scss/_mixins.scss */
.map-page .history-content ul li figure:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
/* line 138, ../../src/scss/_map.scss */
.map-page .history-content ul li figure .preview {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
/* line 151, ../../src/scss/_map.scss */
.map-page .history-content ul li figure .preview img {
  width: auto;
  height: auto;
  max-width: 50px;
  max-height: 50px;
  display: none;
}
/* line 159, ../../src/scss/_map.scss */
.map-page .history-content ul li figure figcaption {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 40px;
}
/* line 10, ../../src/scss/_mixins.scss */
.map-page .history-content ul li figure figcaption:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
/* line 165, ../../src/scss/_map.scss */
.map-page .history-content ul li figure figcaption h3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.85714em;
  line-height: 2em;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 173, ../../src/scss/_map.scss */
.map-page .history-content ul li figure figcaption .timestamp {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.71429em;
  line-height: 2.4em;
  color: #ccc;
  height: 10px;
  line-height: 10px;
  margin: 5px 0 0 0;
}

/* line 188, ../../src/scss/_map.scss */
#display {
  position: relative;
  background-color: #008E9A;
}

/* line 194, ../../src/scss/_map.scss */
.map-mode #pictureViewer {
  display: none;
}

/* line 199, ../../src/scss/_map.scss */
.picture-mode #map {
  display: none;
}

/* line 204, ../../src/scss/_map.scss */
#map, #pictureViewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
