doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js(id=pageId)
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css')
    link(rel="stylesheet" href="/vendor/default.css" id="theme_base")
    link(rel="stylesheet" href="/vendor/default.date.css" id="theme_date")
    script(src='//localhost:35729/livereload.js')
  body
    block header
    block content
    block footer
    script(src='/vendor/jquery-1.11.0.min.js')
    script(src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js')
    script(src='/vendor/picker.js')
    script(src='/vendor/picker.date.js')
    script(src='/js/main.js')
