extends layouts/layout
block header
  include partials/_header_create
block content
  include partials/_content_create
block footer
  include partials/_footer_create
block spinner
  include partials/_spinner