.Create {
	.Content {
		width: w(4);
		form#PickDates {
			input {
				display: block;	
				width: w(4);
				padding: 0 $gutter-h;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				border: 1px solid darken($Color-Orange, 10% );
				@include border-radius(10px);
				@include adjust-font-size-to(18px);
				line-height: h(2);
				height: h(2);
				margin-bottom: $gutter-h / 2;
			}
			button[type="submit"] {
				@include buttonize;		
				width: w(4);			
			}
		}
	}
}