
.map-page {
    @include flex( 1 );
    @include flexbox;
    @media screen and (min-width: $break-tablet-landscape + 4 * $side-padding ) {
        @include flex-dir( row );
        #map {
            @include flex( 3);
            max-height: 100vh;
        }
        .history-content {
            @include flex( 1 );
            min-width: w(4);
            overflow: scroll;
            max-height: 100vh;
        }
    }
    @media screen 
    and (min-width: $break-tablet-portrait + 2 * $side-padding )
    and (max-width: $break-tablet-landscape - 1 + 4 * $side-padding ) {
        @include flex-dir( column );
        #map {
            @include flex( 3 );
        }
        .history-content {
            @include flex( 2 );
            min-width: w(4);
            overflow: scroll;
        }
    }
    @media screen 
    and (min-width: $break-mobile-landscape + 2 * $side-padding )
    and (max-width: $break-tablet-portrait - 1 + 4 * $side-padding ) {
        @include flex-dir( row );
        #map {
            @include flex( 3 );
            max-height: 100vh;
        }
        .history-content {
            @include flex( 2 );
            min-width: w(4);
            overflow: scroll;
            max-height: 100vh;
        }
    }
    @media screen and (max-width: $break-mobile-landscape - 1 + 2 * $side-padding ) {
        @include flex-dir( column );
        #map {
            @include flex( 3 );
        }
        .history-content {
            @include flex( 2 );
            min-width: w(4);
            overflow: scroll;
        }
    }
    #map {
    }
    .history-content {
        padding: $gutter-v $gutter-h;
        background-color: #fff;
        color: $Color-BodyText;
        position: relative;
        z-index: 2;
        ul {
            margin: 0 ( -1 * $gutter-h );
            padding: 0;
            li {
                padding: 0 $gutter-h;
                list-style: none;
                text-align: left;
                cursor: pointer;
                @include no-select;
                &:hover {
                    background-color: $Color-Sandy;
                }
                span {
                    display: inline-block;
                    padding: 0 10px;
                    font-weight: bold;
                    width: 70px;
                }
            }
        }
    }
}

