
.map-page {
    @include flex( 1 );
    @include flexbox;
    @media screen 
    and (min-width: $break-tablet-landscape + 4 * $side-padding )
    and (min-device-width: $break-tablet-landscape + 2 * $side-padding ) {
        @include flex-dir( row );
        max-height: 100%;
        #display {
            @include flex( 3);
            max-height: 100%;
        }
        .history-content {
            @include flex( 1 );
            min-width: w(4);
            overflow: scroll;
            max-height: 100%;
        }
    }
    @media screen 
    and (min-width: $break-tablet-portrait + 4 * $side-padding ) 
    and (max-width: $break-tablet-landscape - 1 + 4 * $side-padding )
    and (min-device-width: $break-tablet-landscape + 2 * $side-padding ) {
        @include flex-dir( row );
        #display {
            @include flex( 3);
            max-height: 100%;
        }
        .history-content {
            @include flex( 1 );
            width: w(4);
            max-height: 100%;
            overflow: scroll;
        }
    }
    @media screen 
    and (max-width: $break-tablet-portrait - 1+ 4 * $side-padding )
    and (min-device-width: $break-tablet-landscape + 2 * $side-padding ) {
        @include flex-dir( column );
        max-height: 100%;
        #display {
            @include flex( 1 );
        }
        .history-content {
            @include flex( 1 );
            @include clearfixed;
            overflow: scroll;
        }
    }
    @media screen 
    and (min-device-width: $break-mobile-landscape + 2 * $side-padding )
    and (max-device-width: $break-tablet-landscape - 1 + 4 * $side-padding ) 
    and (orientation:landscape) {
        @include flex-dir( row );
        #display {
            @include flex( 3 );
        }
        .history-content {
            @include flex( 2 );
            max-width: w(4);
            overflow: scroll;
            max-height: 100vh;
        }
    }
    @media screen 
    and (min-device-width: $break-mobile-landscape + 2 * $side-padding )
    and (max-device-width: $break-tablet-landscape - 1 + 4 * $side-padding ) 
    and (orientation:portrait) {
        @include flex-dir( column );
        #display {
            @include flex( 3 );
        }
        .history-content {
            @include flex( 2 );
            overflow: scroll;
        }
    }
    @media screen 
    and (max-device-width: $break-tablet-portrait - 1 + 4 * $side-padding )
    and (orientation:landscape) {
        @include flex-dir( row );
        #display {
            @include flex( 3 );
            max-height: 100vh;
        }
        .history-content {
            @include flex( 2 );
            max-width: w(2);
            overflow: scroll;
            max-height: 100vh;
        }
    }
    @media screen 
    and (max-device-width: $break-tablet-portrait - 1 + 4 * $side-padding )
    and (orientation:portrait) {
       @include flex-dir( column );
        #display {
            @include flex( 3 );
        }
        .history-content {
            @include flex( 2 );
            overflow: scroll;
        }
    }
    .history-content {
        padding: $gutter-v $gutter-h;
        background-color: #fff;
        color: $Color-BodyText;
        position: relative;
        z-index: 2;
        padding-top: 0;
        > header {
            z-index: 100;
            background: $Color-Pink;
            width: 100%;
            margin: 0 ( -1 * $gutter-h );
            position: fixed;
            height: h(3);
            @include flexbox;
            @include flex-dir( column );
            border-bottom: 1px solid #f0f0f0;
            h2 {
                width: w(4);
                color: #fff;
                font-weight: bold;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 5px $gutter-h;
                @include adjust-font-size-to(18px);
                font-weight: bold;
                line-height: h(1);
                height: h(1);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            #switchView {
                width: w(4);
                position: relative;
                line-height: h(2);
                height: h(2);
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                a {
                    @include adjust-font-size-to(12px);
                    color: #000;
                    line-height: h(2);
                    height: h(2);
                    width: 49.5%;
                    display: inline-block;
                    padding: 5px $gutter-h;
                    text-decoration: none;
                    vertical-align: middle;
                    &.showpictures {
                        &:before {
                            color: #000;
                            content: "\e601";
                            display: inline-block;                            
                            font-family: $font-icons;
                            @include adjust-font-size-to(20px);
                            line-height: h(1);
                            height: h(1);
                            margin-right: 5px;
                            vertical-align: middle;
                        }
                    }
                    &.showmap {
                        &:before {
                            color: #000;
                            content: "\e603";
                            display: inline-block;                            
                            font-family: $font-icons;
                            @include adjust-font-size-to(20px);
                            line-height: h(1);
                            height: h(1);
                            margin-right: 5px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        ul {
            margin: 0 ( -1 * $gutter-h );
            padding: h(4) 0 0 0;
            li {
                display: block;
                padding: 5px $gutter-h;
                border-bottom: 1px solid $Color-Sandy;
                list-style: none;
                text-align: left;
                cursor: pointer;
                @include no-select;
                cursor: pointer;
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition: all 200ms ease-in-out;
                -ms-transition: all 200ms ease-in-out;
                -o-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
                &:hover {
                    background-color: $Color-Sandy;
                }
                &.selected {
                    background-color: $Color-Sandy;
                }
                figure {
                    display: block;
                    @include clearfixed;
                    @include flexbox;
                    @include flex-dir( row );
                    min-height: 40px;
                    margin: 0;
                    .preview {
                        width: 40px;
                        min-width: 40px;
                        height: 40px;
                        margin: 0 10px 0 0;
                        @include flexbox;
                        @include align-content( center );
                        @include justify-content( center );
                        @include border-radius( 10px );
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
                        box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);    
                        img {
                            width: auto;
                            height: auto;
                            max-width: 50px;
                            max-height: 50px;
                            display: none;
                        }
                    }
                    .postPreview {
                        width: 40px;
                        min-width: 40px;
                        height: 40px;
                        margin: 0 10px 0 0;
                        @include flexbox;
                        @include align-content( center );
                        @include justify-content( center );
                        @include border-radius( 10px );
                        &:before {
                            text-align: center;
                            color: $Color-Pink;
                            content: "\e602";
                            display: inline-block;                            
                            font-family: $font-icons;
                            @include adjust-font-size-to(30px);
                            line-height: 40px;
                            height: 40px;
                            margin-right: 5px;
                            vertical-align: middle;
                        }
                    }
                    figcaption {
                        display: block;
                        @include clearfixed;
                        @include flexbox;
                        @include flex-dir( column );
                        min-height: 40px;
                        h3 {
                            @include flex( 1 );
                            @include adjust-font-size-to(12px);
                            color: #666;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          }
                        .timestamp {
                            @include flex( 1 );
                            @include adjust-font-size-to(10px);
                            color: #ccc;
                            height: 10px;
                            line-height: 10px;
                            margin: 5px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}

#display {
    position: relative;
    background-color: #008E9A;
}

.map-page .history-content ul .item-post {
    overflow: hidden;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

body.map-mode {
    #switchView {
        a {
            &.showpictures {
                display: block;
            }
            &.showmap {
                display: none;
            }
        }
    }
    .map-page .history-content ul .item-post {
        @include opacity( 1 );
        height: 40px;        
    }
}
body.picture-mode {
    #switchView {
        a {
            &.showpictures {
                display: none;
            }
            &.showmap {
                display: block;
            }
        }
    }
    .map-page .history-content ul .item-post {
        @include opacity( 0 );
        height: 0;        
        padding: 0 $gutter-h;
    }
}
.map-mode {
    #pictureViewer {
        top: 0; 
        left: 100%;
    }
}
.picture-mode {
    #map {
        top: 0; 
        left: -100%;
    }
}

#pictureViewer {
    overflow: hidden;
    ul {
        position: relative;
        width: 100%;
        height: 100%;
        li {
            width: 100%;
            height: 100%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            img {
                display: none;
                width: 100%;
                height: 100%;
            }    
        } 
    }
}

#smallMap {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 129px;
    height: 129px;
    z-index: 1;
    .leaflet-control-container {
        display: none;
    }
}

#map, #pictureViewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
