@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@mixin clearfixed {
	&:after{
		content: ' ';
		display: block;
		height: 0;
		clear: both;
	}
}

@function w( $size ){
    @return $size * $slot-width + ( $size - 1 ) * $gutter-h
}
@function h( $size ){
    @return $size * $slot-height + ( $size - 1 ) * $gutter-v
}
 
@function black( $opacity ){
    @return rgba( 0, 0, 0, $opacity )
}
@function white( $opacity ){
    @return rgba( 255, 255, 255, $opacity )
}
 
@mixin lettershadow( $opacity ){
	text-shadow: black( $opacity ) 0 1px 0;
}

@mixin buttonize() {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: w( 4 );
    height: h( 2 );
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-family: $font-headers;
    @include adjust-font-size-to(24px);
    @include border-radius(10px);
    line-height: h( 2 );
    border: 1px solid darken($Color-Pink, 10% );
    text-align: center;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);    
    background-color: $Color-Pink;
    @include filter-gradient(lighten($Color-Pink, 10%), darken($Color-Pink, 10%), vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  lighten($Color-Pink, 10%) 0%,darken($Color-Pink, 10%) 100%));
}

@mixin letterpress( $opacity ){
	text-shadow: white( $opacity ) 0 1px 0;
}
