@import url(http://fonts.googleapis.com/css?family=Oswald:700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&subset=latin,latin-ext);
@import "compass/typography/vertical_rhythm";

@function pem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}

@mixin clearfixed {
	&:after{
		content: ' ';
		display: block;
		height: 0;
		clear: both;
	}
}

@function w( $size ){
    @return $size * $slot-width + ( $size - 1 ) * $gutter-h
}
@function h( $size ){
    @return $size * $slot-height + ( $size - 1 ) * $gutter-v
}
 
@function black( $opacity ){
    @return rgba( 0, 0, 0, $opacity )
}
@function white( $opacity ){
    @return rgba( 255, 255, 255, $opacity )
}
 
@mixin lettershadow( $opacity ){
	text-shadow: black( $opacity ) 0 1px 0;
}

@mixin letterpress( $opacity ){
	text-shadow: white( $opacity ) 0 1px 0;
}

/* Typo settings */
$font-appTitle: 'Gentium Book Basic', Cambria, Georgia, serif;
$font-headers: 'Oswald', Cambria, Georgia, serif;
$font-body: Cambria, Georgia, serif;
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;


/* Colors */
$bgColor: #fff;

$Color-Orange: #F4B244;
$Color-Pink: #F03880;
$Color-Sandy: #F2EDD0;
$Color-GreenyBlue: #16CBB8;
$Color-WaterBlue: #008E9A;

/* Grid Sizes */
$slot-width: 60px;
$slot-height: 24px;
$gutter-h: 20px;
$gutter-v: 0px;

/* Breakpoints */
$break-tablet-landscape: w( 12 );
$break-tablet-portrait: w( 9 );
$break-mobile-landscape: w( 6 );
$break-mobile-portrait: w( 4 );
$side-padding: 10px;

$browser-context: 16; // Default

//Map
$bgHistoryColor: #62848D;
