@import url(http://fonts.googleapis.com/css?family=Simonetta:900|Varela+Round);
@font-face {
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?rlwhic');
	src:url('../fonts/icomoon.eot?#iefixrlwhic') format('embedded-opentype'),
		url('../fonts/icomoon.woff?rlwhic') format('woff'),
		url('../fonts/icomoon.ttf?rlwhic') format('truetype'),
		url('../fonts/icomoon.svg?rlwhic#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "compass/typography/vertical_rhythm";

@function pem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}

@import "mixins";

/* Typo settings */
$font-icons: 'icons';
$font-body: 'Varela Round', Helvetica, Arial, sans-serif;
$font-headers: $font-body; //'Simonetta', Cambria, Georgia, serif;
$base-font-size: 14px;
$base-line-height: 24px;
@include establish-baseline;

/* Colors */
$bgColor: #fff;

$Color-Orange: #F4B244;
$Color-Pink: #F03880;
$Color-Sandy: #F2EDD0;
$Color-GreenyBlue: #16CBB8;
$Color-WaterBlue: #008E9A;
$Color-BodyText: #333;

/* Grid Sizes */
$slot-width: 60px;
$slot-height: 24px;
$gutter-h: 20px;
$gutter-v: 0px;

/* Breakpoints */
$break-tablet-landscape: w( 12 );
$break-tablet-portrait: w( 9 );
$break-mobile-landscape: w( 6 );
$break-mobile-portrait: w( 4 );
$side-padding: 10px;

$browser-context: 16; // Default

//Map
$bgHistoryColor: #62848D;
