$bgColor: #fff;

$Color-Orange: #F4B244;
$Color-Pink: #F03880;
$Color-Sandy: #F2EDD0;
$Color-GreenyBlue: #16CBB8;
$Color-WaterBlue: #008E9A;

$header-font: Arial, Verdana, sans-serif;
$body-font: Arial, Verdana, sans-serif;
