.page-content.map-page
    #map
        | map
    .history-content
        h2
            | Lorem trip
        ul
            li
                span
                    | check in
                | Cool restaurant
            li
                span
                    | foto
                | Monument X
            li
                span
                    | status
                | Bloody hangover
            li
                span
                    | check in
                | Cool restaurant
            li
                span
                    | foto
                | Monument X
            li
                span
                    | status
                | Bloody hangover
            li
                span
                    | check in
                | Cool restaurant
            li
                span
                    | foto
                | Monument X
            li
                span
                    | status
                | Bloody hangover
            li
                span
                    | check in
                | Cool restaurant
            li
                span
                    | foto
                | Monument X
            li
                span
                    | status
                | Bloody hangover
            li
                span
                    | check in
                | Cool restaurant
            li
                span
                    | foto
                | Monument X
            li
                span
                    | status
                | Bloody hangover
