#Wrapper.Home
	header
		h1
			span myJourney
		h2
			span ...
	.Content 
		p 
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		a(href="#").login-fb
			| Create your log
