#Wrapper.Home
	header
		a(href="/")
			h1
				span myJourney
		h2
			span ...
	.Content 
		p
			| Map your journey.
		p
			| Pick! Create! Share!
		a(href="/create.html").login-fb
			| Create your map
