.page-content.map-page
    #display
        #map
        #pictureViewer
    .history-content
        h2
            | Lorem trip
        div
            a.showpictures
                | show pictures
            a.showmap
                | show map
        ul