.page-content.map-page
    #map
    .history-content
        header
            h2
                | Lorem trip
            div#switchView
                a.showpictures(href="#")
                    | show pictures
                a.showmap(href="#")
                    | show map
        ul