.page-content.map-page
    #display
        #map
        #pictureViewer
            ul
    .history-content
        header
            h2
            div#switchView
                a.showpictures(href="#")
                    | show pictures
                a.showmap(href="#")
                    | show map
        ul