#Wrapper.Create
	header
		a(href="/")
			h1
				span myJourney
		h2
			span ...
	.Content
		form#PickDates(action="/api/createJourney", method="GET")
			div
				input(type="text", name="tripname", placeholder="Name your trip")#tripname.tripname
			div
				input(type="time", name="starttime", placeholder="start date")#starttime.starttime
			div
				input(type="time", name="endtime", placeholder="end date")#endtime.endtime
			div
				button(type="submit", value="create") 
					| Go!

		p
			| Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.
